h1 {
  color: white;
  font-weight: bold;
  font-family: arial;
  text-align: center;
}

body {
  background-color: black;
  width: 960px;
  height: 960px;
  margin: 0 auto;
}

#frame {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  border: 10px solid white;
  background-color: white;
}

#buttonBlock {
  float: left;
  text-align: center;
  width: 150px;
  height: auto;
}

.square {
  box-sizing: border-box;
  border: .5px solid #b3b5b7;
  float: left;
}

button {
  display: inline-block;
  padding: 0;
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
